## Extraction

### `Extract Data From the URL Using Pandas Lib`

In [123]:
import pandas as pd

url = "https://web.archive.org/web/20240113160741/http://en.wikipedia.org/wiki/List_of_countries_by_carbon_dioxide_emissions"

# Our target table has 1 super header so we ignore it
tables = pd.read_html(url, header=1)

# The Target Table is indexed at 1
df = tables[1]
print("Table Extracted Successfully")

Table Extracted Successfully

---

## Transformation

### `Rename Columns`

In [124]:
df.columns = [
    'Country',
    'CO2_1970',
    'CO2_1990',
    'CO2_2005',
    'CO2_2017',
    'CO2_2022',
    'Per_Capita_2022',
    'World_Share_2022',
    'Change_1990_2022'
]

### `Change Columns to float`

In [125]:
df['World_Share_2022'] = (
    df['World_Share_2022']
        .str.replace("%", "", regex=False)
        .astype(float)
        .round(2)
)

df['Change_1990_2022'] = (
    df['Change_1990_2022']
        .astype(str)
        .str.replace(r'[^0-9]', '', regex=True)
        .astype(float)
        .round(2)
)

numeric_cols = ['CO2_1970', 'CO2_1990', 'CO2_2005', 'CO2_2017', 'CO2_2022', 'Per_Capita_2022']
df[numeric_cols] = df[numeric_cols].astype(float)

### `Start From appropriate index`

In [126]:
start_index = df.index[df['Country'] == 'Aruba'][0]

df_aggregates = df.iloc[:start_index].reset_index(drop=True)
df_countries = df.iloc[start_index:].reset_index(drop=True)

### `Print Aggregates`

In [127]:
# First row contained junk Values
df_aggregates = df_aggregates.drop(index=0).reset_index(drop=True)
df_aggregates

,Country,CO2_1970,CO2_1990,CO2_2005,CO2_2017,CO2_2022,Per_Capita_2022,World_Share_2022,Change_1990_2022
0,GLOBAL TOTAL,15825424.0,22516769.0,29924589.0,36890295.0,38521998.0,4.84,100.00,1711.0
1,EU27,3488583.0,3793290.0,3672609.0,3113155.0,2804806.0,6.32,7.28,739.0
2,World – International Aviation,168603.0,258270.0,417746.0,583315.0,420366.0,NaN,1.09,1628.0
3,World – International Shipping,353846.0,370696.0,571139.0,705980.0,709706.0,NaN,1.84,1915.0

### `Print Countries`

In [128]:
df_countries.head(10)

,Country,CO2_1970,CO2_1990,CO2_2005,CO2_2017,CO2_2022,Per_Capita_2022,World_Share_2022,Change_1990_2022
0,Aruba,25.2,189.3,358.2,426.8,455.1,4.25,0.00,2404.0
1,Afghanistan,1734.1,2896.5,1333.8,8546.9,5675.8,0.14,0.02,1960.0
2,Angola,8948.2,11288.8,15964.1,26137.4,20185.7,0.58,0.05,1788.0
3,Anguilla,2.2,6.1,13.7,29.1,22.8,1.52,0.00,3725.0
4,Albania,4848.8,6647.4,4149.4,5349.3,4486.2,1.52,0.01,675.0
5,Netherlands Antilles,14515.8,2666.4,5910.4,4005.9,2046.8,12.41,0.00,768.0
6,United Arab Emirates,19429.2,56825.6,122379.8,205196.1,218799.3,21.75,0.57,3850.0
7,Argentina,87006.9,99531.6,152773.7,188432.6,184037.2,3.97,0.48,1849.0
8,Armenia,12673.6,20604.7,4462.5,5380.8,6326.5,2.15,0.02,307.0
9,Antigua and Barbuda,102.4,154.3,160.2,253.4,277.7,2.59,0.00,1800.0

---

## Load

In [129]:
# Load aggregates to csv
df_aggregates.to_csv("Aggregate.csv")

# Load Countries to csv
df_countries.to_csv("Countries.csv")

---

### Note :-
- ETL Pipeline Complete
- The Data is now ready for analysis

### Sample Analysis
Top 5 Countries with most CO2 Emission

In [149]:
df_countries\
    .sort_values(by='World_Share_2022', ascending=False)[['Country', 'World_Share_2022']]\
    .head(5)\
    .reset_index(drop=True)\
    .style.format({'World_Share_2022' : '{:.2f}%'})

---

### Author

[Ashirbad Routray](https://www.linkedin.com/in/ashirbad-routray-7a872732a/)